<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>
        <% if (page.title){ %>
        <%= page.title %> |
        <% } %>
        <%= theme.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="<%- url_for(theme.favicon) %>">
    <%- css('css/app') %>
    <!-- <link rel='stylesheet' href='http://fonts.useso.com/css?family=Source+Code+Pro'> -->
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?c79e47f94ef189610cef713b03088a7d";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
